{#=====================================================
  Home page
  - Hero style greeting banner
  - List of things passed in as 'things' array
  - Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Teams

{% endblock %}


{% block content %}

    <h1>Teams...</h1>

    <section id="tech-stack">
    
      {% for team in teams %}

        <article>
            <header>
                {{ team.name }}
            </header>

            <p>{{ team.description }}</p>

            <footer>
                <p>Find out more about <a href="/team/{{ team.code }}">the {{ team.name }}</a></p>
            </footer>
        </article>

      {% endfor %}
    
    
    </section>

{% endblock %}

